@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
@media only screen and (max-width: 1080px) {
  * {
    font-size: 10px;
  }
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "sidebar content" ".       content";
}
@media only screen and (max-width: 1080px) {
  body {
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: "sidebar" "content";
  }
}
body aside {
  grid-area: sidebar;
  position: fixed;
  width: 20vw;
}
@media only screen and (max-width: 1080px) {
  body aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    position: absolute;
  }
  body aside ul.nav {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 0px;
  }
  body aside ul.nav li {
    align-self: center;
  }
}
body aside ul.nav {
  line-height: 1.7rem;
  list-style-type: none;
}
body aside ul.nav li a:visited {
  color: #0000ee;
}
body aside ul.nav li.selected a {
  color: black;
}
body aside ul.nav li a.basic {
  color: black;
  text-decoration: none;
}
body aside ul.nav li.social-media {
  display: flex;
  align-items: center;
}
body aside ul.nav li.social-media a img {
  height: 30px;
}
body aside ul.nav li.social-media a img.instagram {
  height: 20px;
  margin-right: 9px;
}
body main {
  grid-area: content;
  width: 60vw;
}
body main .hidden {
  display: none;
}
body main .thumbnails {
  display: flex;
  flex-wrap: wrap;
}
body main .thumbnails > img {
  max-height: 20vh;
  max-width: 100%;
  line-height: 150px;
  background: #ec985a;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-family: system-ui;
  font-weight: 900;
  font-size: 2rem;
  flex: 1 0 auto;
  cursor: pointer;
}
@media only screen and (max-width: 1080px) {
  body main .thumbnails > img {
    max-height: 100vw;
  }
}
body main .thumbnails > img div:nth-child(1) {
  width: 461px;
}
body main .thumbnails > img div:nth-child(2) {
  width: 243px;
}
body main .thumbnails > img div:nth-child(3) {
  width: 241px;
}
body main .thumbnails > img div:nth-child(4) {
  width: 419px;
}
body main .thumbnails > img div:nth-child(5) {
  width: 465px;
}
body main .thumbnails > img div:nth-child(6) {
  width: 241px;
}
body main .thumbnails > img div:nth-child(7) {
  width: 265px;
}
body main .thumbnails > img div:nth-child(8) {
  width: 339px;
}
body main .thumbnails > img div:nth-child(9) {
  width: 415px;
}
body main .thumbnails > img div:nth-child(10) {
  width: 111px;
}
body main .thumbnails > img div:nth-child(11) {
  width: 81px;
}
body main .thumbnails > img div:nth-child(12) {
  width: 76px;
}
body main .thumbnails > img div:nth-child(13) {
  width: 87px;
}
body main .thumbnails > img div:nth-child(14) {
  width: 74px;
}
body main .thumbnails > img div:nth-child(15) {
  width: 241px;
}
body main .thumbnails > img div:nth-child(16) {
  width: 331px;
}
body main .thumbnails > img div:nth-child(17) {
  width: 362px;
}
body main .thumbnails > img div:nth-child(18) {
  width: 242px;
}
body main .thumbnails > img div:nth-child(19) {
  width: 131px;
}
body main .thumbnails > img div:nth-child(20) {
  width: 127px;
}
body main .thumbnails > img div:nth-child(21) {
  width: 387px;
}
body main .thumbnails > img div:nth-child(22) {
  width: 220px;
}
body main .thumbnails > img div:nth-child(23) {
  width: 191px;
}
body main .thumbnails > img div:nth-child(24) {
  width: 131px;
}
body main .thumbnails > img div:nth-child(25) {
  width: 390px;
}
body main .thumbnails > img div:nth-child(26) {
  width: 152px;
}
body main .thumbnails > img div:nth-child(27) {
  width: 140px;
}
body main .thumbnails > img div:nth-child(28) {
  width: 284px;
}
body main .thumbnails > img div:nth-child(29) {
  width: 109px;
}
body main .thumbnails > img div:nth-child(30) {
  width: 452px;
}
body main .thumbnails > img div:nth-child(31) {
  width: 227px;
}
body main .thumbnails > img div:nth-child(32) {
  width: 111px;
}
body main .thumbnails > img div:nth-child(33) {
  width: 418px;
}
body main .thumbnails > img div:nth-child(34) {
  width: 217px;
}
body main .thumbnails > img div:nth-child(35) {
  width: 291px;
}
body main .thumbnails > img div:nth-child(36) {
  width: 408px;
}
body main .thumbnails > img div:nth-child(37) {
  width: 447px;
}
body main .thumbnails > img div:nth-child(38) {
  width: 372px;
}
body main .thumbnails > img div:nth-child(39) {
  width: 80px;
}
body main .thumbnails > img div:nth-child(40) {
  width: 267px;
}
body main .thumbnails > img div:nth-child(41) {
  width: 377px;
}
body main .thumbnails > img div:nth-child(42) {
  width: 237px;
}
body main .thumbnails > img div:nth-child(43) {
  width: 343px;
}
body main .thumbnails > img div:nth-child(44) {
  width: 458px;
}
body main .thumbnails > img div:nth-child(45) {
  width: 262px;
}
body main .thumbnails > img div:nth-child(46) {
  width: 358px;
}
body main .thumbnails > img div:nth-child(47) {
  width: 315px;
}
body main .thumbnails > img div:nth-child(48) {
  width: 218px;
}
body main .thumbnails > img div:nth-child(49) {
  width: 184px;
}
body main .thumbnails > img div:nth-child(50) {
  width: 462px;
}
body main .thumbnails > img div:nth-child(51) {
  width: 116px;
}
body main .thumbnails > img div:nth-child(52) {
  width: 191px;
}
body main .thumbnails > img div:nth-child(53) {
  width: 133px;
}
body main .thumbnails > img div:nth-child(54) {
  width: 250px;
}
body main .thumbnails > img div:nth-child(55) {
  width: 324px;
}
body main .thumbnails > img div:nth-child(56) {
  width: 100px;
}
body main .thumbnails > img div:nth-child(57) {
  width: 74px;
}
body main .thumbnails > img div:nth-child(58) {
  width: 132px;
}
body main .thumbnails > img div:nth-child(59) {
  width: 454px;
}
body main .thumbnails > img div:nth-child(60) {
  width: 381px;
}
body main .thumbnails > img div:nth-child(61) {
  width: 341px;
}
body main .thumbnails > img div:nth-child(62) {
  width: 437px;
}
body main .thumbnails > img div:nth-child(63) {
  width: 191px;
}
body main .thumbnails > img div:nth-child(64) {
  width: 378px;
}
body main .thumbnails > img div:nth-child(65) {
  width: 112px;
}
body main .thumbnails > img div:nth-child(66) {
  width: 325px;
}
body main .thumbnails > img div:nth-child(67) {
  width: 251px;
}
body main .thumbnails > img div:nth-child(68) {
  width: 96px;
}
body main .thumbnails > img div:nth-child(69) {
  width: 356px;
}
body main .thumbnails > img div:nth-child(70) {
  width: 113px;
}
body main .thumbnails > img div:nth-child(71) {
  width: 300px;
}
body main .thumbnails > img div:nth-child(72) {
  width: 186px;
}
body main .thumbnails > img div:nth-child(73) {
  width: 229px;
}
body main .thumbnails > img div:nth-child(74) {
  width: 242px;
}
body main .thumbnails > img div:nth-child(75) {
  width: 111px;
}
body main .thumbnails > img div:nth-child(76) {
  width: 112px;
}
body main .thumbnails > img div:nth-child(77) {
  width: 287px;
}
body main .thumbnails > img div:nth-child(78) {
  width: 179px;
}
body main .thumbnails > img div:nth-child(79) {
  width: 269px;
}
body main .thumbnails > img div:nth-child(80) {
  width: 446px;
}
body main .thumbnails > img div:nth-child(81) {
  width: 155px;
}
body main .thumbnails > img div:nth-child(82) {
  width: 165px;
}
body main .thumbnails > img div:nth-child(83) {
  width: 313px;
}
body main .thumbnails > img div:nth-child(84) {
  width: 443px;
}
body main .thumbnails > img div:nth-child(85) {
  width: 166px;
}
body main .thumbnails > img div:nth-child(86) {
  width: 339px;
}
body main .thumbnails > img div:nth-child(87) {
  width: 264px;
}
body main .thumbnails > img div:nth-child(88) {
  width: 137px;
}
body main .thumbnails > img div:nth-child(89) {
  width: 393px;
}
body main .thumbnails > img div:nth-child(90) {
  width: 216px;
}
body main .thumbnails > img div:nth-child(91) {
  width: 219px;
}
body main .thumbnails > img div:nth-child(92) {
  width: 451px;
}
body main .thumbnails > img div:nth-child(93) {
  width: 374px;
}
body main .thumbnails > img div:nth-child(94) {
  width: 215px;
}
body main .thumbnails > img div:nth-child(95) {
  width: 416px;
}
body main .thumbnails > img div:nth-child(96) {
  width: 161px;
}
body main .thumbnails > img div:nth-child(97) {
  width: 412px;
}
body main .thumbnails > img div:nth-child(98) {
  width: 177px;
}
body main .thumbnails > img div:nth-child(99) {
  width: 272px;
}
body main .thumbnails > img div:nth-child(100) {
  width: 286px;
}
body main .thumbnails > img.background-design {
  border: 4px black solid;
}
body main .thumbnails > img.animation {
  max-height: unset;
  max-width: unset;
  width: 20vw;
}